.flecha{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 1000px;
    left: 540px;
    bottom: 15px;
    position: relative;
  }
 






  .personaje h3{
    color: hsl(0, 0%, 52%);
  }
  .cartas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .carta {
    flex: 0 1 calc(20.3% - 100px); 
    box-sizing: border-box;
    margin-bottom: 20px; 
    transition: background-color 1s;
    text-align: center;
    background-color: rgb(5, 4, 4);
    border-radius: 30px;
   /
  }
  .carta:hover{
    flex: 0 1 calc(20.3% - 100px); 
    border: .1px solid rgb(252, 252, 252);

    box-shadow: 5px 5px 6px rgb(255, 255, 255);
    
    transition: background-color 1s; 
    /
  }
  
.title2{
        color: rgb(255, 255, 255);
    text-decoration: underline;
  }